.card {
  display: flex;
  border: 1px solid green;
  padding: 15px;
  margin: 10px;
  justify-content: space-between;
}

.left {
  width: 60%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

.authors {
  max-width: 250px;
}
