*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.App {
  display: flex;
  background-color: antiquewhite;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.containerApp {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
  background-color: bisque;
}